md2pdf_native
*.js

temp.html
temp.pdf
temp.swift
temp
temp.md

__pycache__/
*.py[cod]
*$py.class
*.pyc

.DS_Store
.AppleDouble
.LSOverride
.vscode

venv/
.env

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

*.xcodeproj/
*.xcworkspace/
xcuserdata/